<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util">

	<!-- services -->
	<!-- <bean id="petStore" class="org.springframework.samples.jpetstore.services.PetStoreServiceImpl"> 
		<property name="accountDao" ref="accountDao"/> <property name="itemDao" ref="itemDao"/> 
		additional collaborators and configuration for this bean go here </bean> -->

	<!-- more bean definitions for services go here -->

	<!-- <bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:spring-props.properties</value>
		</property>
		<property name="properties"> <value>custom.strategy.class=com.foo.DefaultStrategy</value> 
			</property>
	</bean> -->

	<!-- <bean id="analysisTypes" class="${groupId}.kaf.AnalysisTypes"></bean> -->

<!-- 	<bean id="kafAnalyzer"
		class="org.openerproject.targetproperties.kaf.CustomWebServicesKafAnalyzer">
		<property name="endpointURL" value="${kafAnalysisWebserviceEndpointURL}"></property>
		<property name="analysisTypes" ref="analysisTypes"></property>
	</bean> -->

<!-- 	<bean id="algorithmExecutorWithKAF"
		class="org.openerproject.targetproperties.sspace.AlgorithmExecutorWithKAF">
		<property name="kafAnalyzer" ref="kafAnalyzer"></property>
		<property name="documentReader" ref="documentReader"></property>
	</bean>

	<bean id="documentReader"
		class="org.openerproject.targetproperties.data.RawTextDocumentReader">
	</bean>

	<bean id="main" class="org.openerproject.targetproperties.main.Main">
		<property name="algorithmExecutor" ref="algorithmExecutorWithKAF"></property>
	</bean> -->

	<!-- NEW PART, FOR SEMANTIC VECTORS -->

<bean id="plainTextCorpusReader"
		class="org.openerproject.double_propagation2.data.PlainTextCorpusReader">
	</bean>

	<bean id="multiwordDocumentPreprocessor"
		class="org.openerproject.double_propagation2.multiwords.MultiwordDocumentPreprocessor">
		<!-- <property name="analyzer" ref="kafAnalyzer"></property> -->
	</bean>
	
	<bean id="ngramCountTable" class="org.openerproject.double_propagation2.multiwords.NgramCountTable"></bean> 
	
	<bean id="kafTagsetMapper" class="org.openerproject.double_propagation2.analysis.KafTagsetMapper"></bean>
	
	<bean id="stanfordNLPToolsTagsetMapper" class="org.openerproject.double_propagation2.analysis.StanfordNLPToolsTagsetMapper"></bean>

	<bean id="multiwordGenerator" class="org.openerproject.double_propagation2.multiwords.MultiwordGenerator">
		<property name="corpusReader" ref="plainTextCorpusReader"></property>
		<property name="documentPreprocessor" ref="multiwordDocumentPreprocessor"></property>
		<property name="tagsetMapper" ref="kafTagsetMapper"></property>
	</bean>

<!-- DOUBLE PROPAGATION STUFF -->

<bean id="stanfordBasedAnalyzer" class="org.openerproject.double_propagation2.algorithm.StanfordBasedCorpusAnalyzer">
</bean>

<bean id="doublePropagator" class="org.openerproject.double_propagation2.algorithm.DoublePropagator">
	<property name="corpusAnalyzer" ref="stanfordBasedAnalyzer"></property>
</bean>


</beans>