<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util">

<bean id="plainTextCorpusReader"
		class="org.openerproject.double_propagation2.data.PlainTextCorpusReader">
	</bean>

	<!-- <bean id="kafBasedMultiwordDocumentPreprocessor"
		class="org.openerproject.double_propagation2.multiwords.KafBasedMultiwordDocumentPreprocessor">
		<property name="analyzer" ref="kafAnalyzer"></property>
	</bean> -->
	
	<!-- <bean id="ngramCountTable" class="org.openerproject.double_propagation2.multiwords.NgramCountTable"></bean> 
	 -->
	<bean id="kafTagsetMapper" class="org.openerproject.double_propagation2.analysis.KafTagsetMapper"></bean>
	
	<bean id="stanfordNLPToolsTagsetMapper" class="org.openerproject.double_propagation2.analysis.StanfordNLPToolsTagsetMapper"></bean>

	<!-- <bean id="stanfordBasedMultiwordDocumentPreprocessor" class="org.openerproject.double_propagation2.multiwords.StanfordBasedMultiwordDocumentPreprocessor">
	</bean> -->

	<!-- <bean id="multiwordGenerator" class="org.openerproject.double_propagation2.multiwords.MultiwordGenerator">
		<property name="corpusReader" ref="plainTextCorpusReader"></property>
		<property name="documentPreprocessor" ref="kafBasedMultiwordDocumentPreprocessor"></property>
		 <property name="documentPreprocessor" ref="stanfordBasedMultiwordDocumentPreprocessor"></property>
		<property name="tagsetMapper" ref="kafTagsetMapper"></property>
		<property name="tagsetMapper" ref="stanfordNLPToolsTagsetMapper"></property>
	</bean> -->

<!-- DOUBLE PROPAGATION STUFF -->

<bean id="stanfordBasedAnalyzer" class="org.openerproject.double_propagation2.analysis.StanfordBasedCorpusAnalyzer">
</bean>

<bean id="doublePropagator" class="org.openerproject.double_propagation2.algorithm.DoublePropagator">
	<property name="corpusAnalyzer" ref="stanfordBasedAnalyzer"></property>
</bean>


</beans>